<body class="d-flex flex-column min-vh-100">

    <main class="flex-fill">
        <!-- Your main content here -->
    </main>

    <footer class="mt-auto bg-light text-center py-2">
        <div class="f-info">
            <div class="f-info-socials"> 
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div>&copy; Wonderlust Private Limited</div>
            <div class="f-info-links">
                <a href="/privacy">&nbsp; Privacy Policy&nbsp;&nbsp;</a>
                <a href="/terms">&nbsp; Terms of Service</a>
            </div>
        </div>
    </footer>

</body>
